.header {
  background-color: var(--appBg);
  background-image: url("/mobile/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  /* test background pattern at size */
  height: 160px;
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.toggleContainer {
  display: flex;
  align-items: center;
}

.sun {
  margin-right: 1rem;
}

.moon {
  margin-left: 1rem;
}

.inputGroup {
  background: var(--compBg);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.375rem;
  max-width: 1100px;
  margin-top: 3.125rem;
}

.divider {
  width: 1px;
  margin: -1rem 1rem -1rem 0;
  background-color: var(--inputColour);
  flex-grow: 0;
  flex-shrink: 0;
  opacity: 0.2;
}

.checkLabel {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  font-weight: 700;
  line-height: 1;
  color: var(--headingColour);
  margin-right: 1.625rem;
}

.checkbox {
  margin-right: 1rem;
}

@media (min-width: 500px) {
  .header {
    background-image: url("/desktop/bg-pattern-header.svg");
  }

  .logoContainer {
    padding-top: 2.625rem;
  }
}

@media (min-width: 1100px) {
  .logoContainer {
    padding-top: 2.8125rem;
  }
}
