@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* colours */
  --violet: #5964e0;
  --lightViolet: #939bf4;
  --veryDarkBlue: #19292d;
  --midnight: #121721;
  --white: #ffffff;
  --lightGrey: #f4f6f8;
  --grey: #9daec2;
  --darkGrey: #638098;

  /* colour intentions */
  --appBg: var(--lightGrey);
  --compBg: var(--white);
  --headingColour: var(--veryDarkBlue);
  --textColour: var(--darkGrey);
  --toggleBg: var(--white);
  --toggleColour: var(--violet);
  --toggleHover: var(--lightViolet);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  line-height: 1.62;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* typography */

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}
