@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* colours */
  --violet: #5964e0;
  --lightViolet: #939bf4;
  --veryDarkBlue: #19202d;
  --midnight: #121721;
  --white: #ffffff;
  --lightGrey: #f4f6f8;
  --grey: #9daec2;
  --darkGrey: #638098;

  --violetShade1: #eeeffc;
  --violetShade2: #c5c9f4;
  --darkShade1: #303642;
  --darkshade2: #696e76;

  /* colour intentions */
  --appBg: var(--lightGrey);
  --compBg: var(--white);
  --headingColour: var(--veryDarkBlue);
  --textColour: var(--darkGrey);

  /* toggle colours */
  --toggleBg: var(--white);
  --toggleColour: var(--violet);
  --toggleHover: var(--lightViolet);

  /* button colours */
  --btnPrimaryBg: var(--violet);
  --btnPrimaryColour: var(--white);
  --btnPrimaryHover: var(--lightViolet);
  --btnSecondaryBg: var(--violetShade1);
  --btnSecondaryColour: var(--violet);
  --brnSecondaryHover: var(--violetShade2);

  /* input colours */
  --inputColour: var(--veryDarkBlue);
  --inputBorder: var(--darkGrey);
}

/* dark theme colours */

.dark {
  --appBg: var(--midnight);
  --compBg: var(--veryDarkBlue);
  --headingColour: var(--white);
  --textColour: var(--darkGrey);

  --btnSecondaryBg: var(--darkShade1);
  --btnSecondaryColour: var(--white);
  --brnSecondaryHover: var(--darkshade2);

  --inputColour: var(--white);
  --inputBorder: var(--darkGrey);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  line-height: 1.62;
  background-color: var(--appBg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  height: 100%;
  max-width: 100%;
}

button {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  padding: 1em 2.4375em;
  line-height: 1.2;
  border-radius: 0.3125rem;
  border: none;
}

/* typography */

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}
